<% if signed_in? %>
<div id="col-sm-3 single-post-card">
  <div class="card">
<!--  <%# if membership_posts? %> -->
        <% Membership.all.each do |membership| %>
            <% @group_name = Group.find_by_id(membership.group_id).name %>
          <% membership.posts.each do |post| %>
            <% if current_user.memberships.find_by_id(post.membership_id) %>
          <div class="post-text">
          </div>
          <div class="post-content">
            <h2><%= link_to post.title, post %></h2>
            <h5><%= @group_name %></h5>
            <p><%= post.content %></p>
            <div class="posted-by">
              <p class="date">Published <%= time_ago_in_words(post.created_at) %> ago
              <%= "by - #{current_user.first_name}" + " " + "#{current_user.last_name.slice(0)}." %>
            </div>
          </div>
          <% end %> <!-- if current user -->
        <% end %> <!-- membership.posts iteration -->
      <% end %> <!-- memership.all iteration -->
    </div>
  </div>
  <!-- <%# end %> -->
<% end %>
