<!DOCTYPE html>
<html>
  <head>
    <title>Thrive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <br>
    <br>
    <center><%= notice %><center>
    <center><%= alert %><center>
    <br>
    <br>
    <%= yield %>
  </body>
</html>
